html, body {
	overflow-x: hidden;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: black;
}

/* typography */

h1, h2, h3, h4 ,h5, h6, a {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.8px;
    margin-bottom: -0.25em;
    color: white;
}

p {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.5px;
	line-height: 23px;
	font-size: 14px;
    font-weight: 100;
    color: white;
	/* margin-bottom: 1.5em; */
}

li, ul, ol {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.5px;
	line-height: 23px;
	font-size: 14px;
    font-weight: 100;
    color: white;
	margin-bottom: 0.5em;
}